node_modules


# 2233  -027983702202 app id
# aa63f13c9c0891 -
 8109e265793d0404af app secret

 3ddeoeXawznSQsXH
 mongodb+srv://pkarthikeyanp33:<password>@karthidb.jgxmnko.mongodb.net/?retryWrites=true&w=majority&appName=KarthiDB